@using Proje01.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_View_Layout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            
            @foreach (var x in Model)
            {

                <img src="@x.FotoUrl" alt=""/>
                <p>@x.Aciklama</p>
            }
<<<<<<< Updated upstream
<<<<<<< Updated upstream
            
=======

>>>>>>> Stashed changes
=======

>>>>>>> Stashed changes
        </div>
    </div>
</div>

